.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;

  .menu {
    position: relative;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
