<style></style>

<app-navigation />

<div class="content" role="main">
  <app-section
    [desktop]="'../assets/images/model3/desktop.avif'"
    [mobile]="'../assets/images/model3/mobile.avif'"
    [title]="'Model 3'"
  ></app-section>
  <app-section
    [desktop]="'../assets/images/modelS/desktop.avif'"
    [mobile]="'../assets/images/modelS/mobile.avif'"
    [title]="'Model S'"
  ></app-section>
  <app-section
    [desktop]="'../assets/images/modelX/desktop.avif'"
    [mobile]="'../assets/images/modelX/mobile.avif'"
    [title]="'Model X'"
  ></app-section>
  <app-section
    [desktop]="'../assets/images/modelY/desktop.avif'"
    [mobile]="'../assets/images/modelY/mobile.avif'"
    [title]="'Model Y'"
    [text]="'Curo NCAP 5-Star Safety Rating'"
  ></app-section>
  <app-section
    [title]="'Solar and Powerwall'"
    [desktop]="'../assets/images/Desktop_SolarPanels.avif'"
    [mobile]="'../assets/images/Homepage-SolarPanels-Mobile.avif'"
    [footer]="true"
  ></app-section>
</div>

<router-outlet></router-outlet>
