<section class="section">
  <img class="img desktop" src="{{ desktop }}" alt="{{ title }}" />
  <img class="img mobile" src="{{ mobile }}" alt="{{ title }}" />
  <div class="overlay" [ngStyle]="{'opacity': visibility,}">
    <div class="top">
      <h2>{{ title }}</h2>
    </div>
    <div class="bottom">
      <button class="button">Learn More</button>
      <p>{{ text }}</p>

      <footer *ngIf="footer">
        <p>Tesla © 2023</p>
        <a href="#"> Privacy & Legal </a>
        <a href="#"> Contact </a>
        <a href="#"> News </a>
        <a href="#"> Get Updates </a>
        <a href="#"> Locations </a>
      </footer>
    </div>
  </div>
</section>
