header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 56px;
  padding-inline: 2rem;
  z-index: 4;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding-inline: 0.6rem;
    svg {
      height: 24px;
      width: 120px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .end {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    button {
      width: 24px;
      height: 24px;
    }
  }
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.navButton {
  font-weight: bold;
  color: #171a20;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: bold;
}
