@font-face {
  font-family: "GothamSSm";
  src: url(./assets/fonts/GothamSSm-Book_Web.woff2);
  font-weight: normal;
}
@font-face {
  font-family: "GothamSSm";
  src: url(./assets/fonts/GothamSSm-Medium_Web.woff2);
  font-weight: bold;
}
body {
}

* {
  font-family: "GothamSSm", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
